@{
    ViewData["Title"] = "Home Page";
}
<script>
    async function on_layout() {
        // console.log("Attempting to add login/logout button")
        const token = localStorage.getItem("token");
        const response = await fetch("/api/auth/protected", {
            method: "GET",
            headers: {
                Authorization: `Bearer ${token}`
            }
        });
        if (response.ok) {
            var handler = new JwtSecurityTokenHandler();
            var jsonToken = handler.ReadToken(token)
            document.getElementById("should_log_in").innerHTML = "Welcome " + jsonToken.Username
            document.getElementById("helpful_paragraph").innerHTML = "Procede to your chat room of choice"
        } else {
            document.getElementById("should_log_in").innerHTML = "Hello, please log in:"
            document.getElementById("helpful_paragraph").innerHTML = '@{<a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login">Login</a>}'

        }
    }
</script>
<div class="text-center">
    <h1 class="display-4" id="should_log_in">Welcome</h1>
    <p id="helpful_paragraph"></p>
</div>
